[submodule "TextMate/Bundles/json.tmbundle"]
	path = TextMate/Bundles/json.tmbundle
	url = https://github.com/textmate/json.tmbundle.git
[submodule "TextMate/Bundles/objective-c.tmbundle"]
	path = TextMate/Bundles/objective-c.tmbundle
	url = https://github.com/textmate/objective-c.tmbundle
[submodule "TextMate/Bundles/restructuredtext.tmbundle"]
	path = TextMate/Bundles/restructuredtext.tmbundle
	url = https://github.com/textmate/restructuredtext.tmbundle
[submodule "TextMate/Bundles/ragel.tmbundle"]
	path = TextMate/Bundles/ragel.tmbundle
	url = https://github.com/textmate/ragel.tmbundle
[submodule "TextMate/Bundles/erlang.tmbundle"]
	path = TextMate/Bundles/erlang.tmbundle
	url = https://github.com/textmate/erlang.tmbundle
[submodule "TextMate/Bundles/ocaml.tmbundle"]
	path = TextMate/Bundles/ocaml.tmbundle
	url = https://github.com/textmate/ocaml.tmbundle
[submodule "TextMate/Bundles/c.tmbundle"]
	path = TextMate/Bundles/c.tmbundle
	url = https://github.com/textmate/c.tmbundle
[submodule "TextMate/Bundles/lua.tmbundle"]
	path = TextMate/Bundles/lua.tmbundle
	url = https://github.com/textmate/lua.tmbundle
[submodule "TextMate/Bundles/make.tmbundle"]
	path = TextMate/Bundles/make.tmbundle
	url = https://github.com/textmate/make.tmbundle
[submodule "TextMate/Bundles/javascript.tmbundle"]
	path = TextMate/Bundles/javascript.tmbundle
	url = https://github.com/textmate/javascript.tmbundle
[submodule "TextMate/Bundles/todo.tmbundle"]
	path = TextMate/Bundles/todo.tmbundle
	url = https://github.com/textmate/todo.tmbundle
[submodule "TextMate/Bundles/scheme.tmbundle"]
	path = TextMate/Bundles/scheme.tmbundle
	url = https://github.com/textmate/scheme.tmbundle
[submodule "TextMate/Bundles/SCSS.tmbundle"]
	path = TextMate/Bundles/SCSS.tmbundle
	url = https://github.com/kuroir/SCSS.tmbundle.git
