# Disable host key checking for DHCP hosts on local network
# Useful for Raspberry Pi's etc. with frequently changing
# OS
Host 192.168.*.*
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

# Load local (non-git) config from ~/.ssh/config.d
Include config.d/*

